@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.miama-font{
  font-family: 'Miama', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


/* Global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: black;
}

.container{
  width: 75%;
  margin: 100px auto 0;
}

.btn{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 40px 16px 40px;
  border-radius: 2.5rem;
  border: none;
  background: transparent;
}

p{
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

h1, h3{
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-align: center;
}

/* header */

.header{
  background: linear-gradient(180deg,rgb(41, 40, 40), rgb(29, 28, 28),rgba(119, 119, 119, 0) 100%);
  width: 100%;
}

/* navbar */
.navbar{
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.logo h3{
  width: 132px;
  color: rgb(230, 83, 60);
  font-size: 2.2rem;
  font-weight: 800;
  font-style: italic;
}

.nav-items{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.5rem;
}

.nav-links{
  display: flex;
  margin: 0.5rem auto;
  padding: 4px;
  gap: 3rem;
}

.nav-link{
  list-style: none;
}

.nav-link a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 400;
  padding: 8px 20px;
}

.active{
  border-radius: 3rem;
  background: rgb(230, 83, 60);
}

/* banner */
.banner{
  width: 75%;
  margin: 2.9rem auto;
  display: flex;
  justify-content: space-between;
}

.banner-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.banner-content h1{
  font-size: 5rem;
  text-align: left;
  line-height: 80px;
  margin-top: 40px;
}

.shape{
  color: rgb(255, 255, 255);
  font-size: 7rem;
  font-weight: 400;
}

.banner-content p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  margin-top: 30px;
}

.banner-btns{
  margin-top:30px;
}

.banner-btn-1{
  background: rgb(230, 83, 60);
  margin-right: 14px;
  border: 1px solid rgb(230, 83, 60);
}

.banner-btn-2{
  border: 1px solid white;
}

.banner-img{
  width: 35%;
  position: relative;
}

.floating-icon-1, .floating-icon-2{
  border: none;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-icon-1{
  left: 250px;
  top: 90px;
  width: 195px;
  height: 100px;
  flex-direction: column;
}

.floating-icon-1 h1{
  font-size: 2.5rem;
}

.floating-icon-1 p, .floating-icon-2 p{
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
}

.floating-icon-1 p{
  font-size: 0.8rem;
  margin-top: 5px;
}

.floating-icon-2{
  top: 430px;
  left: -130px;
  width: 205px;
  height: 95px;
}

.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
  margin-right: 8px;
}

.play-btn{
  position: absolute;
  border-top: 100px solid #fff;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  transform: rotate(-90deg) scale(0.15);
  left: -1px;
}

.floating-icon-2 h1{
  font-size: 1.5rem;
}

.floating-icon-2 p{
  font-size: 1rem;
  margin-top: 8px;
}


/* habit section */

.habit-title h1{
  font-size: 3rem;
}

.habit-title p{
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 14px;
  line-height: 1.5rem;
}

.habit-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.7rem;
}

.habit-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.habit-article-content h1{
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 6px;
}

.habit-article-content p{
  font-size: 0.9rem;
}

.habit-article-img img{
  border-radius: 50%;
  border: 5px solid rgb(34, 34, 34);
}

/* run section */
.run-section{
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  padding: 30px;
  gap: 10.5rem;
}

.run-left, .run-right{
  width: 50%;
}

.run-left{
  padding: 24px;
}

.run-left h1{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-align: left;
}


.run-left p{
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5rem;
  margin-top: 14px;
  margin-bottom: 34px;
}


.run-right img{
  width: 100%;
  border-radius: 18px;
}

.run-btn{
  margin: 0;
  padding: 16px 60px;
}

/* calculator */
.calculator-heading, .team-heading{
  width: 75%;
  margin: 80px auto 90px;
}

.calculator-heading h1, .team-heading h1{
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
}

.calculator-heading p, .team-heading p{
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  margin-top: 14px;
}

.calculator{
  width: 100%;
  background: rgb(34, 34, 34);
}

.calculator-container{
  padding: 50px 0;
  display: flex;
  gap: 10rem;
}

.calculator-table{
  width: 40%;
}

.calculator-table h1{
  margin-bottom: 50px;
}

.calculator-form h1, .calculator-table h1{
  font-size: 1.8rem;
  text-align: left;
}

table{
  width: 320px;
}

th{
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: left;
}

td{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}

table, td, th{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}

td, th{
  padding: 12px;
}

.calculator-form{
  width: 60%;
}

.calculator-form p{
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  margin-top: 14px;
}

.input-form{
  margin-top: 34px;
}

.inner-form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
}

input, select{
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 12px 40px 12px 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}


select{
  color: rgba(255, 255, 255, 0.3);
  padding: 10px 40px 12px 15px;
}

#factor{
  width: 100%;
  margin-top: 12px;
  display: block;
}

.calculate-btn{
  margin-top: 34px;
}

/* team */
.team-heading{
  margin-top: 90px;
}

.team-heading h1, .team-heading p{
  text-align: center;
}

.team-container{
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.team-members{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 35px;
  justify-items: center;
  align-items: center;
}

.team-member{
  position: relative;
}

.team-member img{
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
  filter: brightness(70%);
}

.member-info h3{
  font-weight: 700;
}

.member-info p, .member-info h3{
  text-align: left;
}

.member-info{
  position: absolute;
  top: 210px;
  left: 20px;
}

/* membership */
.membership-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.membership-card{
  background: rgb(34, 34, 34);
  width: 30%;
  height: 550px;
  border-radius: 18px;
  padding: 2rem 2rem;
}

.card-heading h3{
  margin-bottom: 10px;
  font-weight: 700;
}

.card-content>div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 220px;
}

.card-content p{
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.membership-card hr{
  border: 1px solid rgb(19, 19, 19);
  width: 90%;
  margin: 3rem auto;
}

.card-btn{
  display: block;
  margin: 3rem auto;
}

/* footer */
footer{
  background: rgba(255, 255, 255, 0.1);
  margin-top: 100px;
}

.footer-logo h3{
  font-size: 4.5rem;
}

.col-1 p{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  margin-top: 20px;
}

.col-3 h3{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
}

.col-3 p{
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
}

.col-2{
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.col-1{
  width: 50%;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 65px 0 80px;
  row-gap: 7rem;
}

.copy{
  font-size: 0.9rem;
  padding: 35px 0;
}

.hamburger{
  display: none;
}

.hide{
  display: none;
}

hr{
  border: 2px solid rgba(255, 255, 255, 0.1);
}


/* responsive */
@media screen and (max-width: 576px) {
  .container{
    width: 90%;
    margin: 60px auto 0;
  }
  .navbar{
    width: 90%;
  }
  .nav-link{
    display: none;
  }
  .hamburger{
    display: block;
    font-size: 2rem;
  }
  .hamburger i{
    color: white;
  }
  .nav-items{
    border: none;
  }
  .banner{
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .banner-content, .banner-img{
    width: 100%;
  }
  .banner-content h1{
    font-size: 3rem;
  }
  .banner-content p{
    width: 75%;
  }
  .btn{
    padding: 16px 30px 16px 30px;
  }
  .banner-btns{
    display: flex;
  }
  .banner-img{
    margin-top: 4rem;
  }
  .floating-icon-1, .floating-icon-2{
    border-radius: 9px;
    padding: 12px;
  } 
  .floating-icon-1{
    left: 200px;
    top: 60px;
    width: 145px;
    height: 75px;
  }
  .floating-icon-1 h1{
    font-size: 2rem;
  }
  .floating-icon-1 p{
    font-size: 0.5rem;
    margin-top: 5px;
  }
  .floating-icon-2{
    top: 260px;
    left: 15px;
    width: 155px;
    height: 75px;
  }
  .circle{
    width: 30px;
    height: 30px;
  }
  .play-btn{
    left: -15px;
  }
  .floating-icon-2 h1{
    font-size: 1rem;
  }
  .floating-icon-2 p{
    font-size: 0.8rem;
    margin-top: 8px;
  }
  .habit-title h1{
    font-size: 2rem;
  }
  .habit-title p{
    font-size: 0.8rem;
  }
  .habit-content{
    flex-direction: column;
    margin-top: 1rem;
  }
  .habit-article-content{
    width: 75%;
  }
  .habit-article{
    margin-top: 30px;
  }
  .member-info p {
    font-size: 0.7rem;
  }
  .member-info h3{
    font-size: 1rem;
  }
  .run-section{
    flex-direction: column;
    gap: 0;
  }
  .run-left, .run-right{
    width: 100%;
  }
  .run-left h1{
    font-size: 2rem;
  }
  .run-left p{
    font-size: 0.8rem;
    margin-bottom: 24px;
  }
  .run-btn, .calculate-btn{
    margin: 0;
    display: block;
    width: 100%;
  }
  .run-btn{
    margin-bottom: 30px;
  }
  .calculator-heading, .team-heading {
    width: 90%;
    margin: 80px auto 0px;
  }
  .calculator-heading br, .team-heading br, .habit-title p br{
    content: " ";
  }
  .calculator-heading h1, .team-heading h1{
    font-size: 2rem;
  }
  .calculator-heading p, .team-heading p{
    font-size: 0.8rem;
  }
  .calculator-container{
    flex-direction: column;
    gap: 2rem;
  }
  .calculator-table, .calculator-form{
    width: 100%;
  }
  .calculator-table h1{
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .calculator-form h1{
    font-size: 1rem;
  }
  .calculator-form p{
    font-size: 0.8rem;
  }
  .inner-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
  }
  input, select{
    padding: 10px 0 10px 5px;
    gap: 4px;
    font-size: 0.8rem;
  }
  select{
    padding: 10px 40px 12px 0px;
  }
  #factor{
    margin-top: 12px;
    display: block;
    width: 100%;
  }
  .calculate-btn{
    margin-top: 30px;
    width: 60%;
  }
  .team-members {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
  .membership-container{
    flex-direction: column;
    row-gap: 2rem;
  }
  .membership-card{
    width: 100%;
  }
  .card-btn{
    margin: 30px auto 0;
    width: 100%;
  }
  .footer-container{
    flex-direction: column;
    padding: 45px 0 40px;
    row-gap: 3rem;
  }
  .footer-logo h3{
    font-size: 3rem;
  }
  .col-1{
    width: 90%;
  }
  .col-1 p{
    font-size: 0.8rem
  }
  .col-2{
    flex-direction: column;
    width: 90%;
    row-gap: 20px;
  }
  .col-3 h3{
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  .col-3 p{
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
}